<app-modal id="people-search-modal" [title]="'Поиск человека'"
           [closable]="true" #mc>
    <app-ps-bar [model]="request" (search)="search()"></app-ps-bar>
    <app-search-result [data]="page$|async" (sort)="search($event)" [current]="current"
                       (rowClick)="current = $event" (rowDblclick)="accept($event)"></app-search-result>
    <div class="b-popup-nav">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button">
                    <div class="b-button__icon b-button__icon_mod_create"></div>
                    <div class="b-button__text">Создать</div>
                </a>
            </div>
            <!-- TODO определиться какие кнопки должны быть на форме -->
            <div class="b-popup-nav__item" [style.visibility]="'hidden'">
                <div class="b-button">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Сохранить</div>
                </div>
            </div>
            <app-menu-bar></app-menu-bar>
        </div>
    </div>
</app-modal>

