<div class="wrapper">
    <router-outlet name="header"></router-outlet>
    <main class="content">
        <router-outlet></router-outlet>
    </main>
    <div class="footer">
        <div class="footer__body">
            <div class="footer__cell">
                <div class="footer-user">
                    <p class="footer-user__name">{{(user$|async)?.mainRole}}&nbsp;&mdash; {{(user$|async)?.fio}}</p>
                </div>
            </div>
            <div class="footer__cell">
                <div class="footer-date">
                    <p class="footer-date__text">
                        <ng-container *ngTemplateOutlet="nt;context:{now: (now$|async)}"></ng-container>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #nt let-now="now">
    {{days[now?.getDay()]}}, {{now?.getDate()}}&nbsp;{{months[now?.getMonth()]}} {{now?.getFullYear()}},
    {{getHours(now)}}:{{getMinutes(now)}}
</ng-template>
<app-load></app-load>
<notifier-container></notifier-container>
