<app-table width="1052px" wrapClass="b-table__wrap_row_6"
           (sort)="sort.emit($event)" [sorts]="sorts" [headers]="headers" #at>
    <tr class="b-table__row" *ngFor="let p of data?.data" (click)="rowClick.emit(p)"
        (dblclick)="rowDblclick.emit(p)"
        [ngClass]="{'b-table__row_state_active': current == p}">
        <td class="b-table__cell">
            <p class="b-table__text">{{p.fio}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.birthDate}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.sex}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.documentType}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.seria}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.number}}</p>
        </td>
    </tr>
    <ng-container *ngIf="!data || data.data.length < maxRows">
        <tr class="b-table__row" *ngFor="let i of [].constructor(maxRows - (data == null ? 0 : data.data.length))">
            <td class="b-table__cell" *ngFor="let j of [].constructor(6)"><p class="b-table__text"></p></td>
        </tr>
    </ng-container>
</app-table>
<ng-container [ngSwitch]="data?.count">
    <div class="custody-person-search__count" *ngSwitchCase="0">Ничего не найдено.</div>
    <ng-container *ngSwitchCase="null"></ng-container>
    <div class="custody-person-search__count" *ngSwitchDefault>Найдено {{data.count}} записей.</div>
</ng-container>
