<div class="custody">
    <div class="custody-menu">
        <ul class="custody-menu__body">
            <li class="custody-menu__item" *ngFor="let a of actions" [ngClass]="'custody-menu__item_mod_' + a.clazz">
                <a [routerLink]="a.link"><span>{{a.title}}</span></a>
            </li>
        </ul>
    </div>
</div>
