<app-modal id="family-copy-modal" [title]="'Копирование членов семьи'"
           [closable]="true" #mc>
    <app-table width="590px" [headers]="headers" wrapClass="b-table__wrap_row_6">
        <tr class="b-table__row" *ngFor="let p of data; let i = index">
            <td class="b-table__cell">
                <p class="b-table__text">{{p.fio}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text b-table__text_align_center">{{p.birthDate}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <p class="b-table__text b-table__text_align_center">{{p.sex}}</p>
            </td>
            <td class="b-table__cell b-table__cell_align_center">
                <div class="b-form__checkbox">
                    <input class="b-form__checkbox-input" [id]="'chp' + i" type="checkbox" [checked]="selected(p)"
                           (click)="select(p)">
                    <label class="b-form__checkbox-label" [for]="'chp' + i"></label>
                </div>
            </td>
        </tr>
        <ng-container *ngIf="!data || data.length < maxRows">
            <tr class="b-table__row" *ngFor="let i of [].constructor(maxRows - (data ? data.length : 0))">
                <td class="b-table__cell" *ngFor="let j of [].constructor(4)"><p class="b-table__text"></p></td>
            </tr>
        </ng-container>
    </app-table>
    <div class="b-popup-nav b-popup-nav_align_right">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text" (click)="save()">Сохранить</div>
                </a>
            </div>
        </div>
    </div>
</app-modal>
