<header class="header">
    <div class="header__wrap">
        <div class="header__body">
            <div class="header__cell">
                <div class="header-title">
                    <p class="header-title__text">Администрация Волоколамского муниципального района</p>
                </div>
            </div>
            <div class="header__cell">
                <div class="header-menu">
                    <div class="header-menu__body">
                        <div class="header-menu__item" [ngClass]="(b.mclazz ? 'header-menu__item_mod_'+b.mclazz:'')"
                             *ngFor="let b of buttons">
                            <a class="b-button" (click)="b.click()">
                                <div class="b-button__icon" [ngClass]="'b-button__icon_mod_'+b.clazz"></div>
                                <div class="b-button__text">{{b.title}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
