<div class="content-grid" (click)="disableCtxMenu()" oncontextmenu="return false;">
    <div class="content-grid__content">
        <div class="b-topic">
            <p class="b-topic__text">Биологическая семья</p>
        </div>
        <div class="content-grid__wrap">
            <div class="biological-family">
                <div class="biological-family-children">
                    <div class="b-title">
                        <h2 class="b-title__text">Дети:</h2>
                    </div>
                    <div class="b-table b-table_mod_border">
                        <div class="b-table__wrap b-table__wrap_row_3">
                            <table class="b-table__table">
                                <thead class="b-table__head">
                                <tr class="b-table__row">
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Фамилия Имя Отчество</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Пол</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Дата<br>рождения</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Документ</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Серия</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Номер</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Дата<br>смерти</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">Брат /<br>сестра</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">&nbsp;</p>
                                    </td>
                                </tr>
                                </thead>
                                <tbody class="b-table__body">
                                <tr class="b-table__row" *ngFor="let c of children; let i = index"
                                    (click)="childChanged(c)"
                                    (contextmenu)="showKidsMenu($event, c)"
                                    [ngClass]="{'b-table__row_state_active': currents.child == c, 'dead': c.deathDate}">
                                    <td class="b-table__cell">
                                        <p class="b-table__text">{{c.fio}}</p>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <p class="b-table__text">{{c.sex}}</p>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <p class="b-table__text b-table__text_align_center">{{c.birthDate}}</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">{{c.documentType}}</p>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <p class="b-table__text b-table__text_align_center">{{c.seria}}</p>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <p class="b-table__text b-table__text_align_center">{{c.number}}</p>
                                    </td>
                                    <td class="b-table__cell">
                                        <p class="b-table__text">{{c.deathDate}}</p>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <div class="b-form__checkbox">
                                            <input class="b-form__checkbox-input" type="checkbox"
                                                   [checked]="isSibling(c)">
                                            <label class="b-form__checkbox-label"></label>
                                        </div>
                                    </td>
                                    <td class="b-table__cell b-table__cell_align_center">
                                        <div class="b-form b-form_mod_inline">
                                            <a class="biological-family-children__add" (click)="showAddMembers()"></a>
                                            <a class="biological-family-children__copy" (click)="showCopyFamily(c)"></a>
                                            <div class="b-form__checkbox">
                                                <input class="b-form__checkbox-input" [id]="'ch2'+i"
                                                       type="checkbox" [checked]="selected(c)" (click)="select(c)">
                                                <label class="b-form__checkbox-label" [for]="'ch2'+i"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container *ngIf="!children || (children.length < minRows)">
                                    <tr class="b-table__row" (contextmenu)="showKidsMenu($event, null)"
                                        *ngFor="let i of [].constructor(minRows - (children?.length || 0))">
                                        <td class="b-table__cell" *ngFor="let j of [].constructor(7)">
                                            <p class="b-table__text"></p>
                                        </td>
                                        <td class="b-table__cell b-table__cell_align_center">
                                            <div class="b-form__checkbox">
                                                <input class="b-form__checkbox-input" type="checkbox">
                                                <label class="b-form__checkbox-label"></label>
                                            </div>
                                        </td>
                                        <td class="b-table__cell b-table__cell_align_center">
                                            <div class="b-form b-form_mod_inline">
                                                <a class="biological-family-children__add"
                                                   style="visibility: hidden"></a>
                                                <a class="biological-family-children__copy"
                                                   style="visibility: hidden"></a>
                                                <div class="b-form__checkbox">
                                                    <input class="b-form__checkbox-input" type="checkbox" hidden>
                                                    <label class="b-form__checkbox-label"
                                                           style="visibility: hidden"></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="biological-family-children-footer">
                        <div class="biological-family-children-footer__body">
                            <div class="biological-family-children-footer__item">
                                <div class="biological-family-children-footer__count">Всего детей в&nbsp;семье&nbsp;—
                                    {{children?.length || 0}}.
                                </div>
                            </div>
                            <div class="biological-family-children-footer__item">
                                <div class="b-form">
                                    <label class="b-form__label b-form__label_align_right" for="allm">
                                        Показать всех членов семьи
                                    </label>
                                    <div class="b-form__checkbox">
                                        <input class="b-form__checkbox-input" id="allm" type="checkbox"
                                               (change)="showHideAllMembers($event.target.checked)">
                                        <label class="b-form__checkbox-label" for="allm"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="biological-family-children-footer__item">
                                <div class="b-form">
                                    <label class="b-form__label b-form__label_align_right"
                                           for="actual">Актуальные</label>
                                    <div class="b-form__checkbox">
                                        <input class="b-form__checkbox-input" id="actual" type="checkbox"
                                               (change)="showHideActual($event.target.checked)">
                                        <label class="b-form__checkbox-label" for="actual"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="biological-family-children-footer__item">
                                <a class="biological-family-children-footer__accounting" href="">
                                    <span>Поставить на&nbsp;учет</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-indent"></div>
                <app-table title="Родители:" [headers]="tableHeaders" wrapClass="b-table__wrap_row_3">
                    <ng-container
                            *ngTemplateOutlet="tp;context:{current: 'parent', data: parents, rows: minRows}"></ng-container>
                </app-table>
                <div class="b-indent"></div>
                <app-table title="Совершеннолетние родственники:" [headers]="tableHeaders"
                           wrapClass="b-table__wrap_row_4">
                    <ng-container
                            *ngTemplateOutlet="tp;context:{current: 'relative', data: relatives, rows: 3}"></ng-container>
                </app-table>
            </div>
        </div>
    </div>
    <div class="content-grid__sidebar">
        <div class="sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__body">
                    <p class="sidebar-menu__topic">Семьи</p>
                    <ul class="sidebar-menu__list">
                        <li class="sidebar-menu__item sidebar-menu__item_state_active">
                            <a href="">Биологическая семья</a></li>
                        <li class="sidebar-menu__item"><a>&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-family-copy (accept)="addRelatives($event)" [data]="relatives$|async"></app-family-copy>
<app-people-search (done)="addChild($event)"></app-people-search>
<app-family-member-add (done)="addRelative($event)"></app-family-member-add>

<div *ngIf="kidsMenu" class="context-menu" [style.left]="ctxMenuX" [style.top]="ctxMenuY">
    <div class="context-menu__body">
        <div class="context-menu__item">
            <a class="b-button" (click)="showPeopleSearch()">
                <div class="b-button__icon b-button__icon_mod_add"></div>
                <div class="b-button__text">Добавить</div>
            </a>
        </div>
        <div class="context-menu__item">
            <a class="b-button" (click)="showPeopleSearch()">
                <div class="b-button__icon b-button__icon_mod_edit"></div>
                <div class="b-button__text">Изменить</div>
            </a></div>
        <div class="context-menu__item">
            <a class="b-button">
                <div class="b-button__icon b-button__icon_mod_delete"></div>
                <div class="b-button__text">Удалить</div>
            </a>
        </div>
    </div>
</div>

<div *ngIf="relativesMenu" class="context-menu" [style.left]="ctxMenuX" [style.top]="ctxMenuY">
    <div class="context-menu__body">
        <div class="context-menu__item">
            <a class="b-button" (click)="showAddMembers(false)">
                <div class="b-button__icon b-button__icon_mod_edit"></div>
                <div class="b-button__text">Изменить</div>
            </a></div>
        <div class="context-menu__item">
            <a class="b-button">
                <div class="b-button__icon b-button__icon_mod_delete"></div>
                <div class="b-button__text">Удалить</div>
            </a>
        </div>
    </div>
</div>

<ng-template #tp let-data="data" let-current="current" let-rows="rows">
    <tr class="b-table__row" *ngFor="let p of data" (click)="currents[current] = p"
        (contextmenu)="showRelativesMenu($event, p)"
        [ngClass]="{'b-table__row_state_active': currents[current] == p, 'dead': p.deathDate}">
        <td class="b-table__cell">
            <p class="b-table__text" [ngClass]="{'b-table__text_color_red': false}">{{p.fio}}</p>
        </td>
        <td class="b-table__cell">
            <p class="b-table__text">{{p.sex}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.birthDate}}</p>
        </td>
        <td class="b-table__cell">
            <p class="b-table__text">{{p.documentType}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.seria}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.number}}</p>
        </td>
        <td class="b-table__cell b-table__cell_align_center">
            <p class="b-table__text b-table__text_align_center">{{p.deathDate}}</p>
        </td>
        <td class="b-table__cell">
            <p class="b-table__text">{{p.remark}}</p>
        </td>
    </tr>
    <ng-container *ngIf="!data || (data.length < rows)">
        <tr class="b-table__row" *ngFor="let i of [].constructor(rows - (data?.length || 0))">
            <td class="b-table__cell" *ngFor="let j of [].constructor(8)"><p class="b-table__text"></p></td>
        </tr>
    </ng-container>
</ng-template>
