<p>Фамилия - {{data?.lastName}}</p>
<p>Имя - {{data?.firstName}}</p>
<p>Отчество - {{data?.middleName}}</p>
<p>Дата рождения - {{data?.birthDate}}</p>
<p>Номер документа, удостоверяющего личность - {{data?.number}}</p>
