<div class="b-popup-nav__item">
    <div class="custody-nav">
        <p class="custody-nav__topic">Переход:</p>
        <div class="custody-nav__body">
            <div class="custody-nav__item" *ngFor="let a of actions"
                 [ngClass]="'custody-nav__item_mod_' + a.clazz">
                <a [routerLink]="a.link"><span class="custody-nav__title">{{a.title}}</span></a>
            </div>
        </div>
    </div>
</div>
