<app-modal id="family-copy-modal" [title]="'Подтверждение действия'"
           clazz="b-popup_mod_confirm" #mc>
    <div class="b-popup-confirm">
        <p class="b-popup-confirm__text">Сохранить изменения?</p>
    </div>
    <div class="b-popup-nav b-popup-nav_align_center">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#66ad66;border-color:#66ad66" (click)="da()">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Сохранить</div>
                </a>
            </div>
            <div class="b-popup-nav__item">
                <a class="b-button" style="background:#8c90b1;border-color:#8c90b1" (click)="mc.close()">
                    <div class="b-button__icon b-button__icon_mod_cancel"></div>
                    <div class="b-button__text">Нет</div>
                </a>
            </div>
        </div>
    </div>
</app-modal>


