<app-modal id="family-member-add-modal" [title]="'Добавление члена семьи'"
           [closable]="true" #mc>
    <app-ps-bar [model]="request" (search)="search()" [hasRelation]="true"></app-ps-bar>
    <app-search-result [data]="page$|async" (sort)="search($event)" [current]="current"
                       (rowClick)="current = $event" (rowDblclick)="accept($event)"></app-search-result>
    <div class="custody-person-search__note">
        <div class="b-form">
            <label class="b-form__label">Примечание:</label>
            <input class="b-form__input b-form__input_w_100" #remark>
        </div>
    </div>
    <div class="b-popup-nav">
        <div class="b-popup-nav__body">
            <div class="b-popup-nav__item">
                <a class="b-button">
                    <div class="b-button__icon b-button__icon_mod_create"></div>
                    <div class="b-button__text">Создать</div>
                </a>
            </div>
            <div class="b-popup-nav__item">
                <a class="b-button" (click)="accept(inputLd)">
                    <div class="b-button__icon b-button__icon_mod_ok"></div>
                    <div class="b-button__text">Сохранить</div>
                </a>
            </div>
            <app-menu-bar></app-menu-bar>
        </div>
    </div>
</app-modal>
