<div class="custody-header">
    <div class="custody-header__body">
        <h2 class="custody-header__topic">АИС &laquo;Опека&raquo;</h2>
    </div>
</div>
<div class="custody-filter">
    <form class="custody-filter__body" (ngSubmit)="search()">
        <div class="custody-filter__item">
            <a class="custody-filter__icon"></a>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Фамилия</label><br/>
            <input class="b-form__input" name="lastName" [(ngModel)]="request.lastName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Имя</label><br/>
            <input class="b-form__input" name="firstName" [(ngModel)]="request.firstName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Отчество</label><br/>
            <input class="b-form__input" name="middleName" [(ngModel)]="request.middleName" style="width: 158px"/>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Дата рождения</label><br/>
            <div class="b-form">
                <input class="b-form__input" name="birthDate" [(ngModel)]="request.birthDate" style="width: 90px"
                       ngbDatepicker #dp="ngbDatepicker"
                       placeholder="    .    .    " appMaskDate
                       (click)="dp.toggle()"/>
                <a class="b-form__icon b-form__icon_mod_calendar" (click)="dp.toggle()"></a>
            </div>
        </div>
        <div class="custody-filter__item">
            <label class="custody-filter__label">Номер документа,<br/>удостоверяющего
                личность</label><br/>
            <input class="b-form__input" name="docNumber" [(ngModel)]="request.docNumber" style="width: 176px"/>
        </div>
        <div class="custody-filter__item">
            <button class="b-button b-button_color_blue custody-filter__search">
                <div class="b-button__icon b-button__icon_mod_search"></div>
                <div class="b-button__text">Поиск</div>
            </button>
        </div>
    </form>
</div>

<app-people-search></app-people-search>
