<div class="custody-person-search">
    <form class="custody-person-search__body" (ngSubmit)="search.emit()" name="search">
        <div class="custody-person-search__item" *ngIf="hasRelation">
            <label class="custody-person-search__label">Родственное<br>отношение</label><br>
            <div class="b-form">
                <select class="b-form__select" style="width:120px" name="relativeId" [(ngModel)]="model.relativeId" #rl>
                    <option *ngFor="let r of members$|async" [value]="r.value">{{r.label}}</option>
                </select>
            </div>
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Фамилия</label><br>
            <input class="b-form__input" name="lastName" [(ngModel)]="model.lastName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Имя</label><br>
            <input class="b-form__input" name="firstName" [(ngModel)]="model.firstName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Отчество</label><br>
            <input class="b-form__input" name="middleName" [(ngModel)]="model.middleName" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Дата рождения</label><br>
            <div class="b-form">
                <input class="b-form__input" name="birthDate" [(ngModel)]="model.birthDate" style="width: 90px"
                       ngbDatepicker #dp="ngbDatepicker"
                       placeholder="    .    .    " appMaskDate (click)="dp.toggle()"/>
                <a class="b-form__icon b-form__icon_mod_calendar" (click)="dp.toggle()"></a>
            </div>
        </div>
        <div class="custody-person-search__item">
            <label class="custody-person-search__label">Номер документа</label><br>
            <input class="b-form__input" name="docNumber" [(ngModel)]="model.docNumber" style="width:158px">
        </div>
        <div class="custody-person-search__item">
            <button class="b-button b-button_color_blue custody-person-search__search">
                <div class="b-button__icon b-button__icon_mod_search"></div>
                <div class="b-button__text">Поиск</div>
            </button>
        </div>
    </form>
</div>
